{% extends "base.html" %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">404</h1>
      <p>Page not found.</p>
    </div>
  </div>
</main>
{% endblock %}
