{% extends "base.html" %}

{% block content %}
<div class="container">
  {% for recipe in recipes %}
  <div class="row">
    <div class="col">
      <img src="{{ url_for('static', path='/img/food-placeholder.png') }}"
           class="recipe_list_img" alt="" />
    </div>
    <div class="col">
      <h1><a href="/recipe/{{ recipe.id }}">{{ recipe.name }}</a></h1>
    </div>
    <div class="col">
      <p>{{ recipe.time_minutes }} min</p>
    </div>
  </div>
  <hr>
  {% endfor %}
</div>
{% endblock %}
