{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{{ url_for('static', path='/img/food-placeholder.png') }}"
           alt="" />
    </div>
    <div class="col">
      <h1>{{ recipe.name }}</h1>
    </div>
    <div class="col">
      <p>{{ recipe.time_minutes }} min</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ recipe.description }}
    </div>
    <ul>
      {% for ingredient in recipe.ingredients %}
      <li>
        {{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}
      </li>
      {% endfor %}
    </ul>
    <ul>
      {% for instruction in recipe.instructions %}
      <li>{{ instruction }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
